.ho1{
    background-color: rgb(36, 175, 190); 
    height:2000px;
}
.ho2{
    background-color: white;
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 10px;   
}
.ho5{
    background-color: white;
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px; 
}
.ho8{
    background-color: white;
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px; 
}
.ho11{
    background-color: white;
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px; 
}
h1{
    font-family: Arial;
    text-align: center;
    
    color: rgb(17, 25, 65);
}
.im1
{
    width:1520px;
    object-fit: cover;
    height:800px;
}
h3{
    font-family: Arial;
    font-size: 25px;
    text-align: center;
    
   
}
.ho3{
    font-family:verdana;
    font-size: 15px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 50px;
    margin-right: 50px;
}
.ho6{
    font-family:verdana;
    font-size: 15px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 50px;
    margin-right: 50px;
}
.ho9{
    font-family:verdana;
    font-size: 15px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 50px;
    margin-right: 50px;
}
.ho12{
    font-family:verdana;
    font-size: 15px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 50px;
    margin-right: 50px;
}

  .bottom-left{
    position: absolute;
    bottom: 400px;
    left: 60px;
    font-size: 60px;
    font-family: 'Lucida Sans';
    font-weight: bold;
    color:rgb(20, 61, 61);

  }
  .bottom-q{
    position:absolute; 
    padding-top:1150px;
    bottom: 100px;
    left:120px;
    font-size: 16px;
    font-family: 'Lucida Sans';
    color:rgba(7, 31, 31, 0.767);
    word-spacing:5px ;
    line-height: 25px;
    text-align: center;
    
    
  }
  
  